.btn {
    padding: 0 25px;
    // width: 100%;
    color: $N0;
    text-transform: uppercase;
    min-width: 100%;
    font-size: $H20;
    line-height: 1.35;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;   
    box-shadow: 0px 2px 5px 0 rgba($N00, 0.5);
    font-family: $main-font;
    font-weight: 300;

    @include media($screen-tablet-small) {
        min-width: 200px;
    }

    &:active{
        box-shadow: 0px 1px 3px 0 rgba($N00, 0.5);
    }
    &--header {
        background-color: $btn-orange;
        &:hover {
            background-color: darken($btn-orange, 15%);
        }
    }
    &--gallery {
        background-color: $btn-blue;
        &:hover {
            background-color: darken($btn-blue, 15%);
        }
    }
    &--subscribe {
        background-color: $btn-green;
        width: 100%;
        &:hover {
            background-color: darken($btn-green, 15%);
        }
        @include media($screen-tablet-small) {
            max-width: 170px;
        }
    }
    &--blog {
        background-color: $btn-red;
        &:hover {
            background-color: darken($btn-red, 15%);
        }
    }
    &--contact {
        background-color: $contact-input--focus-border;
        &:hover {
            background-color: darken($contact-input--focus-border, 15%);
        }
    }
}
