* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

html, body {
    min-height: 100vh;
}
body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    /* background-color: #9edfd8; */
    background-color: #ceeae7;
}
h1 {
    margin-bottom: 40px;
}
p {
    margin-bottom: 20px;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100px;
    height: 40px;
    padding: 0 15px;
    background-color: #8f95d3;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    width: 100px;
    height: 40px;
    padding: 0 15px;
    background-color: #8f95d3;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px #888686d1;
}
button:focus {
    outline-color: rgba(255, 255, 255, 0.5);
}
ol {
    margin: 0 auto;
}
li{
    margin-bottom: 30px;
}
span {
    display: block;
    margin-bottom: 15px;
}
pre {
    background-color: #eee;
    max-width: 70%;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    white-space: pre-wrap;      /* css-3 */
    white-space: -moz-pre-wrap; /* moz*/
    white-space: -pre-wrap;     /*opera <6*/
    white-space: -o-pre-wrap;   /*opera 7*/
    word-wrap: break-word;      /*IE 5.5+,  */
    box-shadow: 1px 1px 10px 1px #888686d1;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: justify;
}
