@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

// Fonts
$main-font: 'Quicksand', sans-serif;
$main-color: #fbf6e4;
$secondary-font: #e1c2f1;
$link-color: #b9b9cc;
$letter-spacing: 0.05em;

//font-size
$main-size: 18px;
$secondary-size: 16px;
$small-size: 13px;

// font-weight
$regular: 400;
$bold: 700;

//Colors
$bg-color:#e5eeee;
$btn-color: #23ae92;
$tabs-hover-color: #e66a64;
